




.Obrazovka {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
#obsah {
    padding-top: 20px;
    /*border-width: 3px;
    border-color: red;
    border-style: dotted;
    border-radius: 5px;*/

    
}
button{
    background-color:lightgray;
    margin: 10px;
    width: 90%;
    height: 150px;
    font-size: 200%;
    
    
    

}
#ObrazovkaRozhodnuti{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.klikaciMisto{
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: lightgray;
    border-width: 90%;
    border-color: gray;
    border-style: solid;
}
#jmenaobrazovky{
    
}
